#button_equal:hover {
    background-color: #2dac0f;
    color: black;
}
#button_equal:active {
    background-color: #186e00;
    color: black;
}
#button_del:hover {
    background-color: #DC143C;
    color: black;
}
#button_del:active {
    background-color: #7a0217;
    color: black;
}

button {
    font-size: 15px;
}

#entry-field {
    font-size: 15px;
}
