#button_equal:hover {
    background-color: #2dac0f;
    color: black;
}
#button_equal:active {
    background-color: #186e00;
    color: black;
}
#button_del:hover {
    background-color: #DC143C;
    color: black;
}
#button_del:active {
    background-color: #7a0217;
    color: black;
}
#button_del{
    font-size: 15px;
    font-family: "", serif;
}
#xn{
    font-size: 16px;
    font-family: "", serif;
}
button {
    font-family: "Liberation Mono", serif;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding: 10px 0;
    margin: 2px;
    transition: all 0.2s ease;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#entry-field {
    font-family: "Liberation Mono", serif;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 2px;
}